.button-action_light {
    background-color: #0855c3;
    text-align: center;
    transition: all ease-in-out 0.25s;
    cursor: pointer;
  }
  
  .button-action_light:hover {
    background-color: #288bd8;
    background-color: #152fb7;
    color: #fff;
  }