<h1 class="mb-4 text-center">
    AscentXR LTVR Admin Panel
</h1>
<div class="collapse" id="AdminInformationCollapse">
    <p class="lead">
        Hello Ascent employees! This is your hub to provide support to clients.
    </p>
    <p>
        Here you'll find a place to generate links for any type of user,
        a way to manage organizations, and the support ticket portal (WIP).

        <br /> This system has different types of users, and each user
        type has different levels of permissions:
    </p>
    <ul>
        <li>Administrators will be able to manage schools, and any accounts lower than their own.</li>
        <li>Moderators will only be able to manage accounts lower than their own.</li>
        <li>Teachers will be able to create, edit, and delete classes within their assigned schools/orgs,
            and be able to create student "accounts" for use in VR.</li>
        <li>Students will be able to view their schedule and information about their school and org.</li>
    </ul>
    <p>Once a user has a role assigned to them, they cannot be assigned a higher role. However, any user can be assigned
        roles under their own if there are any. For example, you could create an Administrator account and assign them
        the teacher role.
        This would give them the <i>role</i> of a teacher, functionally, but the <i>permissions</i> of an Administrator.
        This is useful for debugging and live support.
    </p>
</div>