<h1 class="mb-4 text-center">
    LTVR Administrator Link Manager
</h1>
<div class="collapse show" id="linkManagerContent">
    <p class="lead">This link manager's purpose is to generate links for organization owners. Generally, you
        should only need to generate 1 administrator account for them, as they can then generate the links
        they need for their staffing situation.<br /> The system has different types of users, and each user
        type has different levels of permissions:</p>
    <ul>
        <li>Administrators will be able to manage schools, and any accounts lower than their own.</li>
        <li>Moderators will only be able to manage accounts lower than their own.</li>
        <li>Teachers will be able to create, edit, and delete classes within their assigned schools/orgs,
            and be able to create student "accounts" for use in VR.</li>
        <li>Students will be able to view their schedule and information about their school and org.</li>
    </ul>
    <p>Users can be assigned multiple roles. As an example, you can assign a user as a Moderator and a
        Teacher so that they can also manage classes.</p>
</div>