<div class="container">
    <h1 *ngIf="org">{{org.title}}</h1>
    <!-- Search Bar -->
    <div class="mb-3">
        <input type="text" class="form-control" [(ngModel)]="searchText" placeholder="Search" />
    </div>

    <!-- Filter Buttons -->
    <div class="mb-3 ml-auto" style="width:10%;">
        <label for="userFilter" class="form-label">Filter Users</label>
        <!-- [(ngModel)]="selectedFilter" (change)="filterUsers(selectedFilter)" -->
        <select class="form-select" id="userFilter">
            <option>All</option>
            <option>Admins</option>
            <option>Mods</option>
            <option>Teachers</option>
            <option>Students</option>
        </select>
    </div>


    <!-- User Table -->
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Display Name</th>
                <th>Title</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of userService.usersInOrganization">
                <td>
                    <!-- Display the user's profile photo -->
                    <img [src]="'https://api.readyplayer.me/v1/avatars/64519770151e836f98b9b313.png'"
                        alt="Profile Photo" width="50" height="50" />
                </td>
                <td>{{ user.baseUser?.displayName }}</td>
                <td>{{ user.baseUser?.title }}</td>
                <td>{{ user.baseUser?.firstName }}</td>
                <td>{{ user.baseUser?.lastName }}</td>
                <td>
                    <style>
                        .mybtn {
                            text-decoration: none;
                        }
                    </style>
                    <span class="mybtn material-symbols-outlined btn btn-link" (click)="editUser(user)">
                        edit
                    </span>
                    <span class="mybtn material-symbols-outlined btn btn-link" (click)="deleteUser(user)"
                        style="color:red;">
                        delete
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
</div>