<!-- content goes here -->
<div id="fluid-content" class="container-fluid mx-auto">
    <div id="my-school-content">
        <div class="container mt-4">
            <h1 class="text-primary mb-3">ABC University</h1>
            <div class="row">
                <div class="col-md-8">
                    <h2 class="text-secondary mb-3">About Our School</h2>
                    <p class="lead mb-4">Our school is a leading institution for education and innovation. We are proud
                        to offer a wide range of programs and opportunities for our students, and we are committed to
                        providing them with the best possible education.</p>
                    <p class="mb-2">Our mission is to empower our students with the knowledge, skills, and values they
                        need to succeed in the 21st century. We believe that education is the key to unlocking the
                        potential of every student, and we are dedicated to making that a reality.</p>
                    <p class="mb-2">At our school, we offer a variety of programs and services to meet the diverse needs
                        of our students. From our advanced placement courses to our extracurricular activities, we
                        strive to provide a well-rounded education that prepares our students for success.</p>
                    <p class="mb-2">We are proud to be a part of the <b class="text-danger">Learning<b class="text-primary">Time</b></b><b> VR</b>
                        community, which allows us to offer innovative and engaging learning experiences for our
                        students. With <b class="text-danger">Learning<b class="text-primary">Time</b></b><b> VR</b>, our students can explore new worlds
                        and concepts in a way that was never before possible.</p>
                </div>
                <div class="col-md-4 d-flex justify-content-center">
                    <div class="my-auto">
                        <img class="img-fluid" src="https://via.placeholder.com/300x300" alt="Placeholder Image">
                    </div>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-md-8">
                    <h2 class="text-secondary mb-3">Useful Links</h2>
                    <ul class="list-unstyled">
                        <li><button class="btn btn-link text-info">Visit our Website</button></li>
                        <li><button class="btn btn-link text-info">View our Class Schedule</button></li>
                        <li><button class="btn btn-link text-info">Contact our Faculty and Staff</button></li>
                        <li><button class="btn btn-link text-info">Explore Our Campus</button></li>
                    </ul>
                </div>
                <div class="col-md-4 d-flex justify-content-center">
                    <div class="my-auto">
                        <img class="img-fluid" src="https://via.placeholder.com/300x300" alt="Placeholder Image">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>