<h1 class="mb-4 text-center">
    LTVR Administrator Page
</h1>
<div class="collapse" id="AdminInformationCollapse">
    <div class="card card-body">
        <p class="lead">Welcome to the Link Manager! This tool is designed to assist organization owners in generating
            links
            for their respective organizations. Here's an overview of the user roles and their permissions within the
            system:</p>
        <ul>
            <li>Administrators: As an administrator, you have full control over your organization. You can manage
                schools,
                create and manage accounts for other users, and customize various settings.</li>
            <li>Moderators: Moderators have limited administrative privileges. They can manage accounts with lower
                permission levels within their organization, making them ideal for assisting administrators with
                day-to-day
                tasks.</li>
            <li>Teachers: Teachers have the ability to create, edit, and delete classes within their assigned schools or
                organizations. They can also create student accounts specifically designed for virtual reality
                experiences.
            </li>
            <li>Students: Students can access their schedule and view information about their school and organization.
                They
                can explore virtual reality content and participate in immersive learning experiences.</li>
        </ul>
        <p>Users can be assigned multiple roles to accommodate various responsibilities. For example, you can assign a
            user
            as both a Moderator and a Teacher to grant them additional privileges.</p>
    </div>
</div>