#build-indicator {
    position: fixed !important;
    bottom: 50px!important;
    left: 50px!important;
    height: 30px!important;
    // width: 100px;
    // background-color: #007bff;
    // color: #fff;
    padding: 5px;
    text-align: center;
}